.Dictionary section {
  background: rgb(7, 39, 50);
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px rgba(78, 78, 78, 0.3);
  margin: 10px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: rgb(49, 49, 49);
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 3px;
  color: rgb(255, 255, 255);
}

.Dictionary h1 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #ddd;
}
