.Phonetics a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 1px 5px;
  margin-right: 3px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  color: rgb(255, 255, 255);
}

.Phonetics a:hover {
  background: rgb(255, 173, 159);
  color: white;
}

.Phonetics .respelling {
  opacity: 0.7;
}
